h1, p {
  font-family: Lato;
  

}
div {
  font-family: Arial;
}
/* Buttons in MedicalTreatmentPanel designed here using CSS. Font colour is defined inside MedicalTreatmentPanel so that the text can be different colours. */
button {
  font-family: Arial;
  color: white;
  background-color: rgb(201, 206, 216);
  font-size: 15px;
  border-radius: 5px;
  background-position: left top;
  width: 150px;
}